// Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  a.navbar-brand(href='/dashboard') Doctor Service
  button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarResponsive.collapse.navbar-collapse
    ul#exampleAccordion.navbar-nav.navbar-sidenav
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Dashboard')
        a.nav-link(href='/dashboard')
          i.fa.fa-fw.fa-dashboard
          span.nav-link-text
            | Dashboard
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Charts')
        a.nav-link(href='/donate')
          i.fa.fa-fw.fa-area-chart
          span.nav-link-text
            | Pending Donations
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Charts')
        a.nav-link(href='/checking')
          i.fa.fa-fw.fa-area-chart
          span.nav-link-text
            | Requested Checkbody
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Link')
        a.nav-link(href='/approving')
          i.fa.fa-fw.fa-link
          span.nav-link-text
            | Checked Donations
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Link')
        a.nav-link(href='/finishing')
          i.fa.fa-fw.fa-link
          span.nav-link-text
            | Approved
    ul.navbar-nav.sidenav-toggler
      li.nav-item
        a#sidenavToggler.nav-link.text-center
          i.fa.fa-fw.fa-angle-left
    ul.navbar-nav.ml-auto
      li.nav-item
        a.nav-link(href='/logout')
          i.fa.fa-fw.fa-sign-out
          | Logout
